#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
img{
  max-width: 100%;
}
.logo {
  height: 350px;
  width: 500px;
  padding: 1.5em;
  /* will-change: filter;
  transition: filter 300ms; */
}
.logo:hover {
  filter: drop-shadow(0 0 2em white);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em wheat);
}


